.app-layout2 {
  width: 500px;
  height: 400px;
  position: relative;
  background-color: #eee;
  text-align: center;
  padding-left: 150px;
  line-height: 60px;
}

.app-layout2 .header {
  border-bottom: 2px solid #fff;
}
.app-layout2 .content {
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 150px;
  right: 0;
}
.app-layout2 .sider {
  width: 150px;
  position: absolute;
  border-right: 2px solid #fff;
  top: 0;
  left: 0;
  bottom: 0;
}
.app-layout2 .footer {
  border-top: 2px solid #fff;
  bottom: 0;
  left: 150px;
  right: 0;
  position: absolute;
}
